<nav id="navbar">
    <span class="decor"></span>
    <ul class="primary">
        <li>
            <a href="">
                <img id="icono" src="https://raw.githubusercontent.com/carsangi/spinner-loader/main/LOGO%202%20chiqui_edited.jpg"
                lt="bitwan"/>
            </a>
        </li>
        <li>
            <a>Estados</a>
            <ul class="sub">
                <li><a href="/estado-solicitud">Solicitudes</a></li>
                <li><a href="/estado-activacion">Activaciones</a></li>
            </ul>
        </li>
        <li>
            <a>Historial</a>
            <ul class="sub">
                <li><a href="historial-solicitud">Solicitudes</a></li>
                <li><a href="historial-activacion">Activaciones</a></li>
            </ul>
        </li>
    </ul>
</nav>
